
<html>
<head>
<title>NowPayment Proccessing form with Python</title>
<meta name="author" content="Ali Morakabi">
<meta name="description" content="">
<meta name="keywords" content="Python, Flask, API, Cryptocurrency">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
{% block head %}{% endblock %}
</head>
<body>
<br/>

	{% block body %}{% endblock %}

</body>


</html>

