
{% extends 'base.html' %}

{% block head %}

{% endblock %}





{% block body %}

<div class="container">
  <div class="card">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <a class="nav-link " href="./index.php" aria-disabled="true">Start</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" aria-disabled="true">Confirm</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#" tabindex="-1" >Transfer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-2" aria-disabled="true">Finalize</a>
      </li>
    </ul>
  </div>
  <div class="card-body text-center">
    <h5 class="card-title">CryptoCurrency Payment Processor</h5>
    {% if formData %}
   
	<div class="text-danger" role="alert">Once you have completed the transfer to our wallet, click the Completed button.</div>
	<br>
    <br>
    <div class="text-center">
      <div class="spinner-border" role="status">
    
      </div>
    </div>
    <form action="/final" method="post">
		<div class="mb-3">
		    <label>Pay to this wallet address:</label>
			<p  class="text-primary"><strong>{{ formData['pay_address'] }}</strong></p>
		</div>
		<div class="mb-3">
		  <label>Payment status:</label>
		  <p class="text-warning"><strong>{{ formData['payment_status'] }} </strong></p> 
		</div>
		<div class="mb-3">
		  <label>Price amount:</label>
		  <p>{{ formData['price_amount'] }}</p>
		</div>
		<div class="mb-3">
		  <label>Pay amount:</label>
		  <p class="text-info"><strong> {{ formData['pay_amount']}}</strong></p>
		</div>
		<div class="mb-3">
		  <label>Pay currency:</label>
          <p class="text-info"><strong>{{ formData['pay_currency'] }}</strong></p>
		</div>
		<div class="mb-3">
		  <label>Payment id:</label>
          <p class="text-info"><strong>{{ formData['payment_id'] }}</strong></p> 
		</div>
		<div class="col-auto">
			<input type="hidden" id="payment_id" name="payment_id" value={{ formData['payment_id'] }} >
			<input type="hidden" id="payment_id" name="email" value={{ email }} >
			<button type="submit" class="btn btn-primary mb-3">Complete</button>
		</div>
    </form>
    {% else %}
		<p class="card-text text-danger">We are unable to verify your payment details. Please return to the previous page to confirm your details..</p>
		<a href="/" class="btn btn-primary">Back to start page</a>
    {% endif %}
  </div>
</div>
</div>
{% endblock %}

